<div class="jumbotron">
  <md-content>
    <section layout="column" layout-sm="column" layout-align="center center" style="color: #301063">
      <label style="font-size: xx-large;color: #9b8dae">Want to play?</label>
      <label style="font-size: x-large">Try to kill our application</label>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Name</label>
          <input ng-model="score.name" placeholder="Name">
        </md-input-container>
        <md-input-container flex>
          <label>Company</label>
          <input ng-model="score.company" placeholder="company">
        </md-input-container>
      </div>
      <md-button class="md-raised md-primary" ng-click="start()" style="background-color: #301063;width: 171px">Start</md-button>
    </section>
  </md-content>
</div>

