<div class="jumbotron">
  <md-content>
    <section layout="column" layout-sm="column" layout-align="center center">
      <h1>Think you can kill our application?</h1>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Name</label>
          <input ng-model="score.name" placeholder="Name">
        </md-input-container>
        <md-input-container flex>
          <label>Company</label>
          <input ng-model="score.company" placeholder="company">
        </md-input-container>
      </div>
      <md-button class="md-raised md-primary" ng-click="start()">Start</md-button>
    </section>
  </md-content>
</div>

